Agenda/Agenda.Site/Web References/net.azurewebsites.servicioagenda/ServicioContacto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerCuil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreApellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="genero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerCuilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerCuilResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerCuilSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerCuil" />
  </wsdl:message>
  <wsdl:message name="ObtenerCuilSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerCuilResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioContactoSoap">
    <wsdl:operation name="ObtenerCuil">
      <wsdl:input message="tns:ObtenerCuilSoapIn" />
      <wsdl:output message="tns:ObtenerCuilSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioContactoSoap" type="tns:ServicioContactoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCuil">
      <soap:operation soapAction="http://tempuri.org/ObtenerCuil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioContactoSoap12" type="tns:ServicioContactoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCuil">
      <soap12:operation soapAction="http://tempuri.org/ObtenerCuil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioContacto">
    <wsdl:port name="ServicioContactoSoap" binding="tns:ServicioContactoSoap">
      <soap:address location="http://servicioagenda.azurewebsites.net/ServicioContacto.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioContactoSoap12" binding="tns:ServicioContactoSoap12">
      <soap12:address location="http://servicioagenda.azurewebsites.net/ServicioContacto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>